#app {
    font-family: 'Montserrat', sans-serif;
}

.btn-success {
    background-color: #4EB883;
}

.badge-success {
    background-color: #4EB883;
}

.card-product {
    border-radius: 15px;
}

.card-img-top {
    border-radius: 15px;
}

.card-product img {
    height: 235px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: #000000;
}

.img-fluid {
    border-radius: 15px;
}